<tr class="<%= cycle('odd','even') %>">
  <td class="row_title"><%= export_filter.field %></td>
  <td><%= export_filter.display_value %></td>
  <td class="table_icons">
    <%= link_to_delete(export_filter, :text => false) %>
  </td>
</tr>