<table class='series'>
  <caption>Export Filters</caption>
  <tr>
    <th>Field</th>
    <th>Value</th>
    <th class='action_icons'>&nbsp;</th>
  </tr>
  <%= render :partial => @export.export_filters %>
</table>
